@font-face {
  font-family: 'iconfont';  /* project id 748609 */
  src: url('//at.alicdn.com/t/font_748609_at8jxjb4uvd.eot');
  src: url('//at.alicdn.com/t/font_748609_at8jxjb4uvd.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_748609_at8jxjb4uvd.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_748609_at8jxjb4uvd.woff') format('woff'),
  url('//at.alicdn.com/t/font_748609_at8jxjb4uvd.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_748609_at8jxjb4uvd.svg#iconfont') format('svg');
}

.iconfont {font-family:"iconfont" !important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:0.2px;-moz-osx-font-smoothing:grayscale;}

*{}
body{font-size: 14px; background-color:#F4F4F4}
html, body, #app{height: 100%; overflow: hidden;}
/* #app>div{min-height:100%; height:auto;} */

.page{position: relative; height:100%; overflow:auto;}
.page-content{position:absolute; left:0; top:44px; right:0; bottom:0; overflow:auto;}
.page-content>div{position:relative; width:100%; height:100%;}

.weui-tab.w-tab>.weui-navbar::after{content:none;}
.w-tab .weui-navbar__item:after{content:none;}
.w-tab .weui-navbar__item{color:#494a4a; background:white;}
.w-tab .weui-navbar__item.weui-bar__item--on{background:white; color:#36c8a1; position:relative;}
.w-tab .weui-navbar__item.weui-bar__item--on:before{content:' '; position:absolute; bottom:0; left:50%; top:auto; right:auto; width:1em; height:4px; border:none; background-color:#36c8a1; transform:translate(-50%,-50%); border-radius:2px;}

.w-tab.w-tab_primary .weui-navbar__item.weui-bar__item--on{color:#1F80E6;}
.w-tab.w-tab_primary .weui-navbar__item.weui-bar__item--on:before{background-color:#1F80E6; width:4em;}

.w-tabbar>.weui-bar__item--on>.weui-tabbar__icon>i.iconfont{color:#1F80E6;}
.w-tabbar>.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label{color:#1F80E6;}

.w-sel-search .weui-flex__item{position:relative;}
.w-sel-search .weui-flex__item + .weui-flex__item::before{content:' '; position:absolute; width:1px; height:1em; background-color:#e5e5e5; left:0; top:50%; transform:translate(-50%,-50%);}

/* .w-search{background:#fff !important;} */

.weui-badge.city{background:#E6A23C;}
.weui-badge.type{background:#a74bde;}

.toolbar .picker-button{color:#1F80E6;}
.weui-dialog__btn.primary{color:#1F80E6;}

/* 201901 */
.sel-btn__flex{position:relative; padding:0 .5em;}
.sel-btn__flex + .sel-btn__flex::before{content:' '; display:block; position:absolute; width:1px; height:40%; background:rgba(226,226,226,1); left:0; top:50%; transform:translateY(-50%); z-index:10;}

.info--card{display:block; margin:8px; color:#666666;}

.info--card__header{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.info--card__body{display:flex;}
.info--body__left{flex:1; overflow:hidden;}
.info--body__left > view {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:90%;}
.info--body__right{display:inline-block; width:6em; text-align:right}
.info--body__left>view, .info--body__right>view, .info--card__footer{padding:.2em 0;}

.info--card__footer{overflow:hidden;}
.info--footer__left, .info--footer__right {flex:1;}
.info--footer__right{text-align:right;}
.info--footer__tags{float:left; overflow:hidden; margin-right:6em;}
.info--footer__time{float:right; width:6em; margin-left:-6em; text-align:right;}
